.container {
    font-family: "UD デジタル 教科書体 NK-R","UD Digi Kyokasho NK-R";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 160px); 
    width: 100%;
    background-color: white;
}

.statusOrganization {
    font-size: 40px;
    font-family: "UD デジタル 教科書体 NP-B","UD Digi Kyokasho NP-B";
    position: absolute;
    left: 300px;
    top: 170px;
}

.userOrganization {
    font-size: 40px;
    position: absolute;
    left: 380px;
    bottom: 230px;
}

.userName {
    font-size: 30px;
    font-family: Arial;
    position: absolute;
    left: 320px;
    bottom: 180px;
}

.userImage {
    border-radius: 50%;
    position: absolute;
    left: 330px;
    top: 150px;
    width: 250px;
    height: 250px;
}

.userStatus {
    font-size: 12px;
}

.userAttendStatus {
    font-size: 35px;
    position: absolute;
    right: 380px;
    top: 200px;
}

.userAttendButton {
    font-family: "UD デジタル 教科書体 NP-B","UD Digi Kyokasho NP-B";
    font-size: 35px;
    background-color: #3cb7ff;
    border-color: white;
    color: white;
    border-radius: 20%;
    width: 100px;
    height: 100px;
    margin: 30px;
    right: 380px;
    top: 200px;
}

.goHomeFont {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    position: absolute;
    right: 395px;
    bottom: 310px;
    background: linear-gradient(transparent 80%, #88d3ff 30%);
    width: 270px;
}

.goHomeTime {
    font-family: "BIZ UDP明朝","BIZ UDPMincho";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    position: absolute;
    background-color: #3cb7ff;
    border-radius: 270px/400px;
    width: 270px;
    height: 100px;
    right: 390px;
    bottom: 180px;
    box-shadow: 2px 2px 2px #002991;
    color: white;
}

.member {
    width: 10%;
    height: auto;
}

.member img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
}

.member p {
    position: relative;
    text-align: center;
    top: 5px;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.members {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
<<<<<<< HEAD
=======
}

.member .faceWrapper {
    background-color: black;
}

.member .face {
    opacity: 0.7;
>>>>>>> development
}