.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #ffffff;
    color: #000000;
    padding: 0 50px;
    box-sizing: border-box;
}