.menu {
    font-family: 'Gravitas One';
    font-size: 30px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #CAFFDF;
    color: #000000;
    box-sizing: border-box;
}

